html,
body {
  background-color: #EEEDED;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/*  Clases repetitivas  */
.centradoHV {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sideBody {
  display: flex;
  flex-direction: row;
}
.bodyParte {
  flex: 1;
  min-width: calc(100vw - 250px);
  max-height: 100vh;
  overflow-y: auto;
}
.bodyContent {
  padding: 50px;
}